{
  "env": {
    "node": true,
    "mocha": true
  },
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "globals": {
    "expect": true,
    "app": true,
    "td": true,
    "request": true,
    "Joi": true,
    "joiAssert": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "overrides": [
    {
      "files": ["test/**"],
      "rules": {
        "import/no-extraneous-dependencies": "off"
      }
    },
    {
      "files": ["**/*.ts"],
      "extends": [
        "airbnb-base",
        "plugin:@typescript-eslint/recommended",
        "prettier/@typescript-eslint",
        "plugin:prettier/recommended"
      ]
    }
  ],
  "rules": {
    "prettier/prettier": "error",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
